<div>
    <div>
        <h3>クイズ</h3>
        <p><%= @quiz.created_at %></p>
        <p><%= @quiz.content %></p>
    </div>
    <div>
        <h3>このクイズの答え</h3>
        <p><%= @quiz.created_at %></p>
        <p><%= @quiz.answer %></p>
    </div>
</div>