<div>
    <div>
        <h1>クイズで福祉を学ぼう</h1>
    </div>
    <div>
        <div>
            <p>他の人のクイズを見られる</p>
            
        </div>
        <div>
            <p>自分でクイズを作れる</p>
            
        </div>
    </div>
</div>